Analyze tweet authors

In [9]:
import pandas as pd

# Load the CSV file
file_path = '/Users/ashwatthaphatak/Desktop/NCSU/CSC_555/Project/data/write-folder/tweet_metadata.csv'
data = pd.read_csv(file_path)

data.head()

,id,author_id,created_at,lang,tweet_type,source,source_link,retweet_count,favorite_count,quote_count,reply_count,linked_tweet,linked_user,sensitive,access
0,991691636999708672,755390902064078848,2018-05-02 14:51:25,tr,retweet,Twitter for iPhone,http://twitter.com/download/iphone,0,0,0,0,9.911024e+17,2.323138e+09,False,2018-05-02 14:51:25
1,991102360733745157,2323137780,2018-04-30 23:49:51,tr,tweet,Twitter for Android,http://twitter.com/download/android,65,45,3,5,NaN,NaN,False,2018-05-02 14:51:25
2,991686033669488640,975074658331627522,2018-05-02 14:29:09,tr,reply,Twitter for Android,http://twitter.com/download/android,0,0,0,0,9.916786e+17,1.016064e+09,False,2018-05-02 14:52:15
3,991691846731649025,1016063701,2018-05-02 14:52:15,tr,quote,Twitter Lite,https://mobile.twitter.com,0,0,0,0,9.916860e+17,9.750747e+17,False,2018-05-02 14:52:15
4,991692102588403713,825016420803235841,2018-05-02 14:53:16,und,retweet,Twitter for iPhone,http://twitter.com/download/iphone,0,0,0,0,9.913145e+17,8.691932e+17,False,2018-05-02 14:53:16

Collect user ids

In [10]:
author_counts = data['author_id'].value_counts()

# print(author_counts.head(int(len(author_counts) * 0.10)))   # prints top 10% of author_counts (should be 37)

top_authors = list(author_counts.head(25).index)  # top 25 authors
top_authors

[869193235918454786,
 4764985268,
 954124423,
 2596413645,
 738153522277945344,
 92460378,
 919622839556337664,
 487834443,
 1142312972,
 214544700,
 248829087,
 526110917,
 18118505,
 455830743,
 897619242,
 311118058,
 825682538416971778,
 828115979758661632,
 243726128,
 326003773,
 25073877,
 870200407,
 365854454,
 2252893931,
 98996662]

In [11]:
# unique_authors_ids = data['author_id'].unique()
# unique_authors_ids

Collect date of tweet withheld

In [12]:
# Ensure the 'created_at' column is in datetime format
data['created_at'] = pd.to_datetime(data['created_at'])

# Group by 'author_id' and get the earliest date in 'created_at' column
earliest_dates = data.groupby('author_id')['created_at'].min().reset_index()

# Display the earliest dates for each author_id
print(earliest_dates)

              author_id          created_at
0              11325152 2018-05-02 21:47:25
1              15738333 2018-05-02 15:24:04
2              18118505 2018-04-29 00:24:24
3              22153676 2018-05-02 09:01:47
4              22703645 2018-05-02 00:49:32
..                  ...                 ...
369  987394916719431680 2018-05-02 20:03:07
370  987748224437030917 2018-05-02 17:10:28
371  987752531009916929 2018-05-02 18:04:22
372  990276638997991424 2018-05-02 20:36:04
373  991369146976931840 2018-05-02 22:26:29

[374 rows x 2 columns]

In [13]:
filtered_earliest_dates = earliest_dates[earliest_dates['author_id'].isin(top_authors)] 
print(filtered_earliest_dates)

              author_id          created_at
2              18118505 2018-04-29 00:24:24
6              25073877 2018-05-02 13:23:17
23             92460378 2018-05-02 14:29:29
25             98996662 2018-05-02 18:49:17
35            214544700 2018-05-02 15:18:53
42            243726128 2018-05-02 19:04:23
43            248829087 2018-05-01 21:36:52
53            311118058 2018-05-01 17:35:16
57            326003773 2018-05-02 16:00:04
64            365854454 2018-05-02 17:00:00
73            455830743 2018-04-29 16:39:21
75            487834443 2018-04-20 09:40:46
78            526110917 2018-05-01 21:39:22
99            870200407 2018-05-02 19:17:18
100           897619242 2018-05-02 15:41:50
102           954124423 2017-11-10 23:10:50
113          1142312972 2018-05-02 07:36:11
143          2252893931 2018-05-01 03:00:46
166          2596413645 2018-05-02 02:57:41
220          4764985268 2016-03-23 12:42:38
231  738153522277945344 2018-05-02 00:36:58
269  825682538416971778 2018-05-01 20:56:46
271  828115979758661632 2018-05-02 19:43:41
298  869193235918454786 2018-04-07 19:30:56
318  919622839556337664 2018-05-02 19:56:42

In [14]:
result_dict = filtered_earliest_dates.set_index('author_id')['created_at'].dt.strftime('%Y-%m-%d %h:%m:%s').to_dict()

result_dict

{18118505: '2018-04-29 Apr:04:1524975864',
 25073877: '2018-05-02 May:05:1525281797',
 92460378: '2018-05-02 May:05:1525285769',
 98996662: '2018-05-02 May:05:1525301357',
 214544700: '2018-05-02 May:05:1525288733',
 243726128: '2018-05-02 May:05:1525302263',
 248829087: '2018-05-01 May:05:1525225012',
 311118058: '2018-05-01 May:05:1525210516',
 326003773: '2018-05-02 May:05:1525291204',
 365854454: '2018-05-02 May:05:1525294800',
 455830743: '2018-04-29 Apr:04:1525034361',
 487834443: '2018-04-20 Apr:04:1524231646',
 526110917: '2018-05-01 May:05:1525225162',
 870200407: '2018-05-02 May:05:1525303038',
 897619242: '2018-05-02 May:05:1525290110',
 954124423: '2017-11-10 Nov:11:1510373450',
 1142312972: '2018-05-02 May:05:1525260971',
 2252893931: '2018-05-01 May:05:1525158046',
 2596413645: '2018-05-02 May:05:1525244261',
 4764985268: '2016-03-23 Mar:03:1458751358',
 738153522277945344: '2018-05-02 May:05:1525235818',
 825682538416971778: '2018-05-01 May:05:1525222606',
 828115979758661632: '2018-05-02 May:05:1525304621',
 869193235918454786: '2018-04-07 Apr:04:1523143856',
 919622839556337664: '2018-05-02 May:05:1525305402'}

In [15]:
import json

json_data = json.dumps(result_dict, indent=4)

print(json_data)

{
    "18118505": "2018-04-29 Apr:04:1524975864",
    "25073877": "2018-05-02 May:05:1525281797",
    "92460378": "2018-05-02 May:05:1525285769",
    "98996662": "2018-05-02 May:05:1525301357",
    "214544700": "2018-05-02 May:05:1525288733",
    "243726128": "2018-05-02 May:05:1525302263",
    "248829087": "2018-05-01 May:05:1525225012",
    "311118058": "2018-05-01 May:05:1525210516",
    "326003773": "2018-05-02 May:05:1525291204",
    "365854454": "2018-05-02 May:05:1525294800",
    "455830743": "2018-04-29 Apr:04:1525034361",
    "487834443": "2018-04-20 Apr:04:1524231646",
    "526110917": "2018-05-01 May:05:1525225162",
    "870200407": "2018-05-02 May:05:1525303038",
    "897619242": "2018-05-02 May:05:1525290110",
    "954124423": "2017-11-10 Nov:11:1510373450",
    "1142312972": "2018-05-02 May:05:1525260971",
    "2252893931": "2018-05-01 May:05:1525158046",
    "2596413645": "2018-05-02 May:05:1525244261",
    "4764985268": "2016-03-23 Mar:03:1458751358",
    "738153522277945344": "2018-05-02 May:05:1525235818",
    "825682538416971778": "2018-05-01 May:05:1525222606",
    "828115979758661632": "2018-05-02 May:05:1525304621",
    "869193235918454786": "2018-04-07 Apr:04:1523143856",
    "919622839556337664": "2018-05-02 May:05:1525305402"
}

Go through raw data (what we ran the 1-mining.py script on) to see if user activity declined before and after the date they had a tweet withheld

In [16]:
import os
import bz2
from datetime import datetime


data_folder = 'path_to_your_bz2_files'  # Path to the folder with .bz2 files
withholding_info_file = 'withholding_info.json'  # Path to the JSON file with author withholding info

with open(withholding_info_file, 'r') as f:
    withholding_dates = {author_id: datetime.strptime(date, "%Y-%m-%d") for author_id, date in json.load(f).items()}

tweet_counts = {author_id: {'before': 0, 'after': 0} for author_id in withholding_dates}

def parse_tweet_line(line, tweet_counts):
    try:
        tweet = json.loads(line)
    except json.JSONDecodeError:
        return

    author_id = tweet.get('user', {}).get('id_str')
    created_at = tweet.get('created_at')

    if not author_id or author_id not in withholding_dates or not created_at:
        return

    # Convert tweet timestamp to datetime
    tweet_date = datetime.strptime(created_at, "%a %b %d %H:%M:%S +0000 %Y")

    # Compare tweet date with withholding date
    if tweet_date < withholding_dates[author_id]:
        tweet_counts[author_id]['before'] += 1
    else:
        tweet_counts[author_id]['after'] += 1

def process_file(file_path, tweet_counts):
    with bz2.open(file_path, 'rt') as f:
        for line in f:
            parse_tweet_line(line, tweet_counts)

def main():
    # Iterate over all .bz2 files 
    for root, _, files in os.walk(data_folder):
        for file in files:
            if file.endswith('.bz2'):
                file_path = os.path.join(root, file)
                process_file(file_path, tweet_counts)

    for author_id, counts in tweet_counts.items():
        print(f"Author {author_id}: {counts['before']} tweets before, {counts['after']} tweets after withholding date.")

if __name__ == "__main__":
    main()

FileNotFoundError: [Errno 2] No such file or directory: 'withholding_info.json'