Analyze tweet authors

In [13]:
import pandas as pd

# Load the CSV file
file_path = 'write-folder/tweet_metadata.csv'
data = pd.read_csv(file_path)

data.head()

,id,author_id,created_at,lang,tweet_type,source,source_link,retweet_count,favorite_count,quote_count,reply_count,linked_tweet,linked_user,sensitive,access
0,870166174914555904,730634191583449088,2017-06-01 06:32:37,en,reply,Twitter for iPhone,http://twitter.com/download/iphone,0,0,NaN,NaN,8.701644e+17,8.627841e+17,False,2017-06-01 06:32:37
1,870137999513747458,4870875423,2017-06-01 04:40:40,tr,quote,Twitter for iPhone,http://twitter.com/download/iphone,5,0,NaN,NaN,8.701354e+17,1.901715e+08,False,2017-06-01 06:33:11
2,870166317504114688,829734079348273152,2017-06-01 06:33:11,tr,retweet,Twitter for Android,http://twitter.com/download/android,0,0,NaN,NaN,8.701380e+17,4.870875e+09,False,2017-06-01 06:33:11
3,870135387091595264,190171522,2017-06-01 04:30:17,tr,tweet,Hootsuite,http://www.hootsuite.com,32,19,NaN,NaN,NaN,NaN,False,2017-06-01 06:33:11
4,870166745323114497,381994185,2017-06-01 06:34:53,tr,tweet,GundeTape,http://www.gundetape.com,0,0,NaN,NaN,NaN,NaN,False,2017-06-01 06:34:53

Collect user ids

In [14]:
author_counts = data['author_id'].value_counts()

# print(author_counts.head(int(len(author_counts) * 0.10)))   # prints top 10% of author_counts (should be 37)

top_authors = list(author_counts.head(25).index)  # top 25 authors
top_authors

[92460378,
 954124423,
 455264233,
 526110917,
 248829087,
 3244921294,
 37020028,
 487834443,
 4573876514,
 214544700,
 420542453,
 2159335132,
 478170193,
 305655577,
 838018569732501508,
 273648929,
 3735364760,
 760497714652151808,
 724984265994285056,
 2167525794,
 482838365,
 854782095289397252,
 86665649,
 3709329729,
 813914393788481540]

In [15]:
author_counts = data['author_id'].value_counts()
author_counts

author_id
92460378              413
954124423             367
455264233             236
526110917             224
248829087             164
                     ...
852535411046002688      1
91325511                1
492707698               1
3171860673              1
829611235               1
Name: count, Length: 10527, dtype: int64

In [23]:
#unique_authors_ids = data['author_id'].unique()
#unique_authors_ids

Collect date of tweet withheld

In [17]:
# Ensure the 'created_at' column is in datetime format
data['created_at'] = pd.to_datetime(data['created_at'])

# Group by 'author_id' and get the earliest date in 'created_at' column
earliest_dates = data.groupby('author_id')['created_at'].min().reset_index()

# Display the earliest dates for each author_id
print(earliest_dates)

                author_id          created_at
0                   68093 2017-06-11 11:14:50
1                  612473 2017-06-02 20:57:43
2                  759251 2017-06-02 10:40:53
3                  767800 2017-06-12 17:42:02
4                  807095 2017-06-14 13:42:06
...                   ...                 ...
10522  987394916719431680 2018-05-02 20:03:07
10523  987748224437030917 2018-05-02 17:10:28
10524  987752531009916929 2018-05-02 18:04:22
10525  990276638997991424 2018-05-02 20:36:04
10526  991369146976931840 2018-05-02 22:26:29

[10527 rows x 2 columns]

In [18]:
filtered_earliest_dates = earliest_dates[earliest_dates['author_id'].isin(top_authors)] 
print(filtered_earliest_dates)

               author_id          created_at
474             37020028 2015-02-26 22:38:28
891             86665649 2017-05-31 16:07:03
932             92460378 2017-04-21 16:43:08
1521           214544700 2017-05-31 23:08:42
1691           248829087 2017-05-31 12:06:21
1819           273648929 2017-06-01 07:35:48
1975           305655577 2017-06-01 16:30:10
2448           420542453 2017-05-29 12:56:54
2566           455264233 2017-03-18 16:30:25
2640           478170193 2017-05-30 23:46:40
2656           482838365 2017-05-29 18:01:15
2673           487834443 2017-05-31 11:22:28
2774           526110917 2017-05-30 23:32:47
3526           954124423 2015-09-10 19:51:45
4412          2159335132 2016-02-20 13:43:03
4431          2167525794 2017-06-03 00:59:12
6167          3244921294 2017-03-28 09:51:07
6542          3709329729 2017-05-31 23:17:37
6551          3735364760 2017-06-07 04:07:16
6869          4573876514 2017-03-11 18:39:23
7401  724984265994285056 2017-06-02 02:26:10
7914  760497714652151808 2017-05-31 21:02:34
8856  813914393788481540 2017-05-15 12:32:17
9408  838018569732501508 2017-05-31 13:34:32
9752  854782095289397252 2017-06-01 17:35:18

In [19]:
result_dict = filtered_earliest_dates.set_index('author_id')['created_at'].dt.strftime('%Y-%m-%d %h:%m:%s').to_dict()

result_dict

{37020028: '2015-02-26 Feb:02:1425008308',
 86665649: '2017-05-31 May:05:1496261223',
 92460378: '2017-04-21 Apr:04:1492807388',
 214544700: '2017-05-31 May:05:1496286522',
 248829087: '2017-05-31 May:05:1496246781',
 273648929: '2017-06-01 Jun:06:1496316948',
 305655577: '2017-06-01 Jun:06:1496349010',
 420542453: '2017-05-29 May:05:1496077014',
 455264233: '2017-03-18 Mar:03:1489869025',
 478170193: '2017-05-30 May:05:1496202400',
 482838365: '2017-05-29 May:05:1496095275',
 487834443: '2017-05-31 May:05:1496244148',
 526110917: '2017-05-30 May:05:1496201567',
 954124423: '2015-09-10 Sep:09:1441929105',
 2159335132: '2016-02-20 Feb:02:1455993783',
 2167525794: '2017-06-03 Jun:06:1496465952',
 3244921294: '2017-03-28 Mar:03:1490709067',
 3709329729: '2017-05-31 May:05:1496287057',
 3735364760: '2017-06-07 Jun:06:1496822836',
 4573876514: '2017-03-11 Mar:03:1489275563',
 724984265994285056: '2017-06-02 Jun:06:1496384770',
 760497714652151808: '2017-05-31 May:05:1496278954',
 813914393788481540: '2017-05-15 May:05:1494865937',
 838018569732501508: '2017-05-31 May:05:1496252072',
 854782095289397252: '2017-06-01 Jun:06:1496352918'}

In [20]:
import json

json_data = json.dumps(result_dict, indent=4)

print(json_data)

{
    "37020028": "2015-02-26 Feb:02:1425008308",
    "86665649": "2017-05-31 May:05:1496261223",
    "92460378": "2017-04-21 Apr:04:1492807388",
    "214544700": "2017-05-31 May:05:1496286522",
    "248829087": "2017-05-31 May:05:1496246781",
    "273648929": "2017-06-01 Jun:06:1496316948",
    "305655577": "2017-06-01 Jun:06:1496349010",
    "420542453": "2017-05-29 May:05:1496077014",
    "455264233": "2017-03-18 Mar:03:1489869025",
    "478170193": "2017-05-30 May:05:1496202400",
    "482838365": "2017-05-29 May:05:1496095275",
    "487834443": "2017-05-31 May:05:1496244148",
    "526110917": "2017-05-30 May:05:1496201567",
    "954124423": "2015-09-10 Sep:09:1441929105",
    "2159335132": "2016-02-20 Feb:02:1455993783",
    "2167525794": "2017-06-03 Jun:06:1496465952",
    "3244921294": "2017-03-28 Mar:03:1490709067",
    "3709329729": "2017-05-31 May:05:1496287057",
    "3735364760": "2017-06-07 Jun:06:1496822836",
    "4573876514": "2017-03-11 Mar:03:1489275563",
    "724984265994285056": "2017-06-02 Jun:06:1496384770",
    "760497714652151808": "2017-05-31 May:05:1496278954",
    "813914393788481540": "2017-05-15 May:05:1494865937",
    "838018569732501508": "2017-05-31 May:05:1496252072",
    "854782095289397252": "2017-06-01 Jun:06:1496352918"
}

Go through raw data (what we ran the 1-mining.py script on) to see if user activity declined before and after the date they had a tweet withheld

In [21]:
import os
import bz2
import json
from datetime import datetime

# Paths
data_folder = 'C:\\Users\\ajayc\\Downloads\\censored-tweets-raw'  # Path to the folder with .bz2 files
withholding_info_file = 'withholding_info.json'  # Path to the JSON file with author withholding info

# Load withholding dates per author
with open(withholding_info_file, 'r') as f:
    withholding_dates = {
        str(author_id): datetime.strptime(date, "%Y-%m-%d %H:%M:%S")
        for author_id, date in json.load(f).items()
    }

# Initialize counts
tweet_counts = {author_id: {'before': 0, 'after': 0} for author_id in withholding_dates}
skipped_tweets = 0  # Counter for skipped tweets (for debugging)

def parse_tweet_line(line, tweet_counts):
    global skipped_tweets
    try:
        tweet = json.loads(line)
    except json.JSONDecodeError:
        skipped_tweets += 1
        return

    # Access author ID and tweet creation date
    author_id = str(tweet.get('user', {}).get('id_str'))
    created_at = tweet.get('created_at')

    if not author_id or author_id not in withholding_dates or not created_at:
        skipped_tweets += 1
        return

    # Convert tweet timestamp to datetime
    tweet_date = datetime.strptime(created_at, "%a %b %d %H:%M:%S +0000 %Y")

    # Compare tweet date with withholding date
    if tweet_date < withholding_dates[author_id]:    # should we do <= ?
        tweet_counts[author_id]['before'] += 1
    else:
        tweet_counts[author_id]['after'] += 1

def process_file(file_path, tweet_counts):
    with bz2.open(file_path, 'rt') as f:
        for line in f:
            parse_tweet_line(line, tweet_counts)

def main():
    # Iterate over all .bz2 files in the directory
    for root, _, files in os.walk(data_folder):
        for file in files:
            if file.endswith('.bz2'):
                file_path = os.path.join(root, file)
                process_file(file_path, tweet_counts)

    # Output the results and skipped tweet count
    for author_id, counts in tweet_counts.items():
        print(f"Author {author_id}: {counts['before']} tweets before, {counts['after']} tweets after withholding date.")
    print(f"Skipped tweets (due to errors or missing data): {skipped_tweets}")

if __name__ == "__main__":
    main()

FileNotFoundError: [Errno 2] No such file or directory: 'withholding_info.json'

In [ ]:
## To add to existing json

In [ ]:
# import json
# import os

# def append_json_lines_to_existing(folder_path, existing_file_path):
#     # Open the existing file in append mode
#     with open(existing_file_path, 'a') as existing_file:
        
#         # Process each JSON file in the specified folder
#         for filename in os.listdir(folder_path):
#             file_path = os.path.join(folder_path, filename)
            
#             # Ensure we're only working with JSON files
#             if filename.endswith(".json"):
#                 with open(file_path, 'r') as json_file:
#                     # Read each line in the current file and append it to the existing file
#                     for line in json_file:
#                         # Append line by line to handle newline-delimited JSON
#                         existing_file.write(line)

# # Usage example:
# folder_path = 'C:\\Users\\ajayc\\Downloads\\Output'
# existing_file_path = 'output-tweets//ajayc-Downloads-censored-tweets-raw_withheldtweets.json'
# append_json_lines_to_existing(folder_path, existing_file_path)